.sidenav {
	background-color: #0b3948;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 2rem;
	row-gap: 1rem;
	width: 200px;
	height: 100%;
	left: 0;
}

.sidenav a {
	color: rgb(233, 233, 233);
	text-decoration: none;
	font-size: 1.25rem;
}
.sidenav a:hover {
	text-decoration: underline;
}

.container {
	margin-left: 4%;
}