.styledInput {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.styledInput input {
	width: 100%;
	font-size: 1rem;
	outline: none;
	border: 1px solid var(--primary-blue);
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
}

.styledInput input:disabled {
	cursor: not-allowed;
}
