.profile-header {
	display: flex;
	align-items: center;
	column-gap: 3rem;
}

.profile-picture {
	width: 150px;
	height: 150px;
	background-color: rgb(163, 203, 238);
	border-radius: 50%;
}

.prompt-container{
	text-align: center;
	align-items: center;
}
